<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DynamicFramework1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DynamicFramework2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>dynamic-framework-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dynamic-framework-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ios-dynamic-loading-framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F4B9B451CEC80AE0096D67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F4B9B5E1CEC80AE0096D67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F4B9B791CEC81870096D67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F4B9B8B1CEC81960096D67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F4B9BA61CEC849A0096D67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F4B9BBD1CEC86CC0096D67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F4B9BD41CEC88A50096D67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
